

body{
  background: #333;
}

.todo_list{
  color: #fff;
}


table, td, th {
  border: 1px solid #757575;
  border-collapse: collapse;
}

table {
  width: 100%;
}

.main-container {
  width: 800px;
  margin: 0 auto;
}
.headline{
  font-size: 32px ;
  text-align:  center;
}



/////////////////////////////////////@at-root
/// 
.header-main{
  display: flex;
  justify-content: space-between;
  background-color: #4c4c4c;
  padding: 20px;
  border-radius: 2px ;
  margin-top: 20px;


  .logo-img{
    width: 64px;
  
  }

  .navigation{
    display: flex;
    align-items: center;
    li{
      list-style: none;
      padding: 0 10px;
      a{
        color: #fff;
        text-decoration: none;
        font-size: 24px;
      }
    }
  }  
}



//////////////////@at-root
.headline{
  background-color: #1d1d1d;
}





//////////////////////// 
.auth-container{
  width: 50%;
  margin: 100px auto;
  
  .auth-logo{
    width: max-content;
    margin: 0 auto;
    img{
       width: 64px;
    }
  }

  .login-form{
    display: flex;
    flex-direction: column;

    .auth-wrap{
      margin: 10px 0;

      input{
        width: 100%;
        height: 30px;
      }
    }

    .log-btn{
      height: 40px;
      width: 50%;
      margin: 10px auto 0;
      border-radius: 50px;
    }
  }
}

//register 
.register-container{
  height: max-content;
  width: 400px;
  background: #eee;
  margin: 100px auto;

  .register-header{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #000;

    img{
      width: 80px;
    }
  }
  .register-headline{
    padding: 20px 0 0;
  }

  .succes-msg{
    background-color: #a4a4ff;
    padding: 10px;
    margin: 0 20px;
  }

  .register-headline{
    text-align: center;
    font-size: 24px;
  }

  .register-form{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;

    input{
      padding: 10px;
      margin-bottom: 10px;

    }
    span{
      color: red;
    }

    .register-btn{
      padding: 10px;
      background: greenyellow;

      display: block;

    }
  }
}